* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1,
h2 {
    color: white;

}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    border-radius: 50%;

    width: 100px;
    height: 100px;

    margin: 0 auto;

    transition: ease 1s;

    font-weight: bold;
    font-size: 22px;
    margin-block-end: 10px;
}

.ball-two {
    background-color: brown;
}